.container {
   /* background-color: red;*/
    margin-bottom: 20px;
    width: 90%;
    border-radius: 6px;
    overflow: hidden;
}

.content-container {
    z-index: 0;
}

.background-image {
    position: absolute;
    width: 200px;
    height: 100%;
    z-index: 1;
}