/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

:root {
  --qwik-dark-blue: #006ce9;
  --qwik-light-blue: #18b6f6;
  --qwik-light-purple: #ac7ff4;
  --qwik-dark-purple: #713fc2;
  --background-color: #131314;
  --active-color: #eb7610;
  --title-color: #e6e6e6;
  --text-color: #d6d6d6;
}

/*Japanese*/
@font-face {
  font-family: 'klee_One';
  src: url("/public/fonts/ja/Klee_One/KleeOne-Regular.ttf");
}
@font-face {
  font-family: 'rocknRoll_One';
  src: url("/public/fonts/ja/RocknRoll_One/RocknRollOne-Regular.ttf");
}
@font-face {
  font-family: 'rampart_One';
  src: url("/public/fonts/ja/Rampart_One/RampartOne-Regular.ttf");
}
@font-face {
  font-family: 'zenMaru_Gothic';
  src: url("/public/fonts/ja/Zen_Maru_Gothic/ZenMaruGothic-Regular.ttf");
}
@font-face {
  font-family: 'notoSerif_Jp';
  src: url("/public/fonts/ja/Noto_Serif_JP/NotoSerifJP-Regular.otf");
}
/*Chinese*/
@font-face {
  font-family: 'harmonyOS_Sans';
  src: url("/public/fonts/HarmonyOS_Sans/HarmonyOS_Sans_SC_Regular.ttf");
}
@font-face {
  font-family: 'notoSans_Sc';
  src: url("/public/fonts/zh/Noto_Sans_SC/NotoSansSC-Regular.otf");
}
@font-face {
  font-family: 'notoSerif_Sc';
  src: url("/public/fonts/zh/Noto_Serif_SC/NotoSerifSC-Regular.otf");
}
@font-face {
  font-family: 'xiaoWei';
  src: url("/public/fonts/zh/ZCOOL_XiaoWei/ZCOOLXiaoWei-Regular.ttf");
}
@font-face {
  font-family: 'qingKe';
  src: url("/public/fonts/zh/ZCOOL_QingKe_HuangYou/ZCOOLQingKeHuangYou-Regular.ttf");
}
@font-face {
  font-family: 'zhiMangXing';
  src: url("/public/fonts/zh/Zhi_Mang_Xing/ZhiMangXing-Regular.ttf");
}
@font-face {
  font-family: 'liuJianMaoCao';
  src: url("/public/fonts/zh//Liu_Jian_Mao_Cao/LiuJianMaoCao-Regular.ttf");
}
/*english*/
@font-face {
  font-family: 'poppins';
  src: url("/public/fonts/en/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: 'chakra_Petch';
  src: url("/public/fonts/en/Chakra_Petch/ChakraPetch-Regular.ttf");
}
@font-face {
  font-family: 'gantari';
  src: url("/public/fonts/en/Gantari/Gantari-VariableFont_wght.ttf");
}
@font-face {
  font-family: 'nabia';
  src: url("/public/fonts/en/Nabla/Nabla-Regular-VariableFont.ttf");
}
@font-face {
  font-family: 'ubuntu';
  src: url("/public/fonts/en/Ubuntu/Ubuntu-Regular.ttf");
}
/*others*/
@font-face {
  font-family: 'flow_Circular';
  src: url("/public/fonts/others/Flow_Circular/FlowCircular-Regular.ttf");
}

* {
  margin: 0px;
  padding: 0px;
}

html, main, body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

section {
  flex: 1;
}

body {
  background-color: #fafafa;
  font-family: harmonyOS_Sans, zenMaru_Gothic,system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0px;
}