header {
  display: flex;
  height: 60px;
  background: linear-gradient(90deg, rgba(59,47,94,1) 0%, rgba(24,85,158,1) 50%, rgba(252,136,69,1) 100%);;
  justify-content: space-between;
  align-items: center;
  padding-left: 1%;
  padding-right: 1%;
}

header .logo a {
  display: inline-block;
  padding: 10px 10px 7px 20px;
}

/* ボタン */
.buttonContainer {
display: flex;
justify-content: space-between;
width: 145px;
padding: 5px;
border-radius: 50px;
background: rgba(255,255,255,0.2);

}

.button {
 width: 70px;
 height: 35px;
 border: 0;
 border-radius: 50px;
 color: #0f0f0f;
 background-color: transparent;
 font-family: 'HarmonyOS_Sans';
 color: white;
}
.selected {
  background-color: var(--active-color);
}

/* ボタンここまで　*/

.article-title {
  color:white;
  text-align: center;
}

.iconContainer {
  display: flex;
  align-items: center;
  user-select: none;
}

.icon {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  margin-right: 8px;
}

.name {
color: var(--title-color);
font-family: poppins;
font-size: 20px;
letter-spacing: 2px;
}